*, *:before, *:after {
	box-sizing: border-box;
}
/* General Styling */
body{
    margin: 0;
    background-color:#E5E9EC;
    font-family: 'Montserrat', sans-serif;
    color: #152334;
}
.main-container{
    margin: 0 30vw;
}
/* Header */
header{
    padding: 48px 0 16px 0;
}
header h1{
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 44px;
}
header button{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 16px 0;
    background-color: #b5babf;
    border: 0;
    border-radius: 8px;
    transition: all ease-in-out .3s;
    box-shadow: 0 1px 8px 0px rgba(0,0,0,0.08);
    outline: 0;
    cursor: pointer;
}
header button:hover,
header button:active{
    background-color: #045AFD;
    color: #fff;
    box-shadow: 0 1px 24px 0px rgba(4,90,253,0.5);
}

/* Task Cards */
.taskCard{
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 8px 0px rgba(0,0,0,0.08);
    transition: all ease-in-out .3s;
}
.taskCard:hover{
    box-shadow: 0 8px 40px -8px rgba(0,0,0,0.2);
}
.taskCard h4{
    color: #c1c1c1;
    font-size: 1.1rem;
    font-weight: bolder;
    margin-bottom: 8px;
}
.taskCard h4 input{
    margin-right: 8px;
}
.taskCard p{
    line-height: 1.5rem; 
    margin: 32px 0;
    overflow-wrap: break-word;
}
.taskCard .card-content{
    padding: 24px 16px;
}
.taskCard span{
    display: block;
    margin: 8px 0;
    font-size: .8rem;
    color: lightgray;
    line-height: 1.3rem; 
    text-transform: capitalize;
}
.taskCard span:first-of-type{
    margin-left: 28px;
}
.taskCard span:last-of-type{
    margin-bottom: 0;
    padding-top: 16px;
    border-top: 1px solid #eaeaea;
}

/* Cards status */
.taskLate h4{
    color: #ff0000;
}
.taskCompleted span:last-of-type{
    color: #ff0000;
}
.taskCompleted h4{
   color: #045AFD;
}


.taskCard >img{
    width: 100%;;
}
@media(max-width: 768px){
    .main-container{
        margin: 0 64px;
    }
}
@media(max-width: 420px){
    .main-container{
        margin: 0 16px;
    }
}